{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 150,
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["clsx", "cn", "cva"],
    "tabWidth": 4,
    "trailingComma": "es5",
    "overrides": [
        {
            "files": "*.{yml,yaml}",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.blade.php",
            "options": {
                "parser": "html"
            }
        }
    ]
}
